<!-- cart section end -->
<section class="cart-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="cart-table">
                    <h3>Seu Carrinho</h3>
                    <div class="cart-table-warp">
                        <table>
                            <thead>
                            <tr>
                                <th class="product-th">Produto</th>
                                <th class="quy-th">Quantidade</th>
                                <th class="total-th">Preço</th>
                                <th class="total-th">Remover</th>
                            </tr>
                            </thead>
                            <tbody>
                            {loop="$products"}
                            <tr>
                                <td class="product-col">
                                    <a href="/products/{$value.desurl}"><img alt="" src="{$value.desphoto}"></a>
                                    <div class="pc-title">
                                        <a href="/product/{$value.desurl}"><h4>{$value.desproduct}</h4></a>
                                        <p>R${function="formatPrice($value.vlprice)"}</p>
                                    </div>
                                </td>
                                <td class="quy-col">
                                    <div class="quantity">
                                        <div class="pro-qty">
                                            <a href="/cart/{$value.idproduct}/add"><input name="qtd" type="text"
                                                                                          value="1"></a>
                                        </div>
                                        <!-- <div class="dec pro-qty">-</div> -->
                                    </div>
                                </td>
                                <td class="total-col"><h4>R${function="formatPrice($value.vltotal)"}</h4></td>
                                <td class="total-col"><a href="/cart/{$value.idproduct}/remove"><i
                                        class="flaticon-cancel-1"></i></a></td>
                            </tr>
                            {/loop}

                            </tbody>

                        </table>
                        <a class="site-btn btn-total" href="">TOTAL: R$ {function="formatPrice($cart.vltotal)"}</a>

                    </div>

                </div>
            </div>

            <div action="/checkout" class="col-lg-4 card-right">

                {if="$error != ''"}
                <div class="alert alert-danger" role="alert">
                    {$error}
                </div>
                {/if}

                <!--<form class="promo-code-form">
                    <input type="text" placeholder="Cupom de desconto">
                    <button>Aplicar</button>
                </form>-->

                <form class="promo-code-form">
                    <input id="cep" name="zipcode" placeholder="CEP 00000-000" type="text" value="{$cart.deszipcode}">
                    <button formaction="/cart/freight" formmethod="post" type="submit" value="CALCULAR">Calcular
                    </button>
                </form>
                <a class="site-btn btn-frete" href="">FRETE: R$
                    {function="formatPrice($cart.vlfreight)"}{if="$cart.nrdays > 0"} <br> <small>prazo de {$cart.nrdays}
                        dia(s)</small>{/if}</a>

                &#10035; &#10035; &#10035; &#10035; &#10035; &#10035; &#10035; &#10035; &#10035; &#10035; &#10035;
                &#10035; &#10035; &#10035; &#10035;
                <br><br>

                <a class="site-btn" href="/login" name="proceed" type="submit" value="Finalizar Compra">Finalizar
                    compra</a>
                <!--<a href="" class="site-btn sb-dark">Continuar comprando</a>-->
            </div>
        </div>
    </div>
</section>
<!-- cart section end -->