<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Márcia Prates | Loja Virtual</title>
    <meta charset="UTF-8">
    <meta content="Loja Virtual" name="description">
    <meta content="Loja Virtual, eCommerce, creative, html" name="keywords">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <!-- Favicon -->
    <link href="img/favicon.ico" rel="shortcut icon"/>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,700,700i" rel="stylesheet">


    <!-- Stylesheets -->
    <link href="../custom/site/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../custom/site/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="../custom/site/css/flaticon.css" rel="stylesheet"/>
    <link href="../custom/site/css/slicknav.min.css" rel="stylesheet"/>
    <link href="../custom/site/css/jquery-ui.min.css" rel="stylesheet"/>
    <link href="../custom/site/css/owl.carousel.min.css" rel="stylesheet"/>
    <link href="../custom/site/css/animate.css" rel="stylesheet"/>
    <link href="../custom/site/css/style.css" rel="stylesheet"/>
    <link href="../custom/site/css/custom.css" rel="stylesheet"/>

</head>
<body>


<!-- Category section -->
<section class="category-section spad">
    <div class="container">
        <div class="section-title mb-5">
            <h2 class="titulo-categoria">{$category.descategory}</h2>
        </div>
        <div class="row">
            <div class="col-lg-12 order-1 order-lg-2 mb-5 mb-lg-0 mt-3">
                <div class="row">
                    {loop="$products"}
                    <div class="col-lg-4 col-sm-6 mb-5">
                        <div class="product-item">
                            <div class="pi-pic">
                                <img alt="" src="{$value.desphoto}">
                                <div class="pi-links">
                                    <a class="add-card" href="/cart/{$value.idproduct}/add"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
                                    <a class="wishlist-btn" href="#"><i class="flaticon-heart"></i></a>
                                </div>
                            </div>
                            <div class="pi-text">
                                <h6>R${function="formatPrice($value.vlprice)"}</h6>
                                <p class="texto-categoria"><a href="/products/{$value.desurl}">{$value.desproduct}</a>
                                </p>
                            </div>
                        </div>

                    </div>
                    {/loop}

                    <div class="text-center w-100 pt-3">
                        <nav aria-label="Navegação de página exemplo">
                            <ul class="pagination justify-content-center">
                                {loop="$pages"}
                                <li class="page-item">
                                    <a class="page-link" href="{$value.link}">{$value.page}</a>
                                </li>
                                {/loop}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Category section end -->


<!--====== Javascripts & Jquery ======-->
<script src="../custom/site/js/jquery-3.2.1.min.js"></script>
<script src="../custom/site/js/bootstrap.min.js"></script>
<script src="../custom/site/js/jquery.slicknav.min.js"></script>
<script src="../custom/site/js/owl.carousel.min.js"></script>
<script src="../custom/site/js/jquery.nicescroll.min.js"></script>
<script src="../custom/site/js/jquery.zoom.min.js"></script>
<script src="../custom/site/js/jquery-ui.min.js"></script>
<script src="../custom/site/js/main.js"></script>

</body>
</html>