<!-- Contact section -->
<section class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 contact-info">
                <h3>Recuperar senha</h3>
                <form action="/forgot" class="contact-form" method="post">
                    <input id="email" name="email" placeholder="Seu e-mail" type="email">
                    <button class="site-btn mb-5" name="login" value="Enviar">ENVIAR</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Contact section end -->