<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input name="cmd" type="hidden" value="_cart">
    <input name="upload" type="hidden" value="1">
    <INPUT TYPE="hidden" name="charset" value="utf-8">
    <input name="business" type="hidden" value="fmarciasprates@hotmail.com">

    {loop="$products"}
    <input name="item_name_{$counter+1}" type="hidden" value="{$value.desproduct}">
    <input name="item_number_{$counter+1}" type="hidden" value="{$value.idproduct}">
    <input name="amount_{$counter+1}" type="hidden" value="{$value.vltotal}">
    <input name="quantity_{$counter+1}" type="hidden" value="{$value.nrqtd}">
    {/loop}

    <input name="currency_code" type="hidden" value="BRL">

    <input name="email" type="hidden" value="{$order.desemail}">

</form>
<script>
    document.forms[0].submit();
</script>