<!-- checkout section  -->
<section class="checkout-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 order-2 order-lg-1">
                <form action="/profile" class="checkout-form" method="post">
                    <div class="cf-title">Minha Conta</div>
                    <div class="row address-inputs">

                        <div class="col-md-12">
                            <input id="desperson" name="desperson" placeholder="Nome Completo" type="text"
                                   value="{$user.desperson}">

                            <input id="deslogin" name="deslogin" placeholder="Seu Login" type="text"
                                   value="{$user.deslogin}">

                            <input id="desemail" name="desemail" placeholder="Email" type="text"
                                   value="{$user.desemail}">

                            <input id="nrphone" name="nrphone" placeholder="Telefone" type="text"
                                   value="{$user.nrphone}">
                        </div>
                    </div>
                    <button class="site-btn submit-order-btn">SALVAR</button>
                </form>
            </div>
            <div class="col-lg-6 order-1 order-lg-2">
                {if="$profileMsg != ''"}
                <div class="alert alert-success">
                    {$profileMsg}
                </div>
                {/if}

                {if="$profileError"}
                <div class="alert alert-danger" role="alert">
                    {$profileError}
                </div>
                {/if}

            </div>
            <div class="checkout-cart" id="menu">
                <h3>Menu</h3>
                <ul class="price-list">
                    <a href="/profile">
                        <li>Editar Dados</li>
                    </a>
                    <a href="/profile/change-password">
                        <li>Alterar Senha</li>
                    </a>
                    <a href="/profile/orders">
                        <li>Meus Pedidos</li>
                    </a>
                    <a href="/logout">
                        <li class="total">
                            <button class="site-btn submit-order-btn">SAIR</button>
                        </li>
                    </a>
                </ul>
            </div>


        </div>
    </div>
</section>
<!-- checkout section end -->