<div class="single-product-area" id="profile-menu-espaco">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                {include="profile-menu"}
            </div>
            <div class="col-md-8">
                <div class="cart-collaterals">
                    <h2>Alterar Senha</h2>
                </div>

                {if="$changePassError != ''"}
                <div class="alert alert-danger">
                    {$changePassError}
                </div>
                {/if}

                {if="$changePassSuccess != ''"}
                <div class="alert alert-success">
                    {$changePassSuccess}
                </div>
                {/if}

                <form action="/profile/change-password" method="post">
                    <div class="form-group">
                        <label for="current_pass">Senha Atual</label>
                        <input class="form-control" id="current_pass" name="current_pass" type="password">
                    </div>
                    <hr>
                    <div class="form-group">
                        <label for="new_pass">Nova Senha</label>
                        <input class="form-control" id="new_pass" name="new_pass" type="password">
                    </div>
                    <div class="form-group">
                        <label for="new_pass_confirm">Confirme a Nova Senha</label>
                        <input class="form-control" id="new_pass_confirm" name="new_pass_confirm" type="password">
                    </div>
                    <button class="btn btn-primary" type="submit">Salvar</button>
                </form>

            </div>
        </div>
    </div>
</div>