.newslater {
    width: 100%;
    position: relative;
    padding: 0 10px;
}

.newslater input {
    width: 90%;
    height: 44px;
    font-size: 14px;
    border-radius: 50px;
    border: none;
    padding: 0 19px;
    background: #f0f0f0;
}

.social-links-warp {
    border-top: 2px solid #3b3535;
    padding: 13px 0;
}

.page-top-info {
    background: #f8f7f7;
    padding: 60px 0 40px;
}

.active a {

    font-weight: bold !important;
    color: #ec105a !important;

}

.checkout-cart .price-list li span {
    float: right;
    width: 100px;
    text-align: left;
}

.related-product-section .section-title h2 {
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 2em;
}

.related-product-section {
    padding-top: 70px;
}

.texto-categoria a {
    font-weight: inherit !important;
    color: black !important;
}

.btn-total {


    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: normal;
    cursor: pointer;
    text-align: center;
    float: right;
    border-radius: 5px 25px 5px 25px;
}

.btn-frete {

    background-color: #9C9C9C;

}

.esqueci-senha {

    float: right !important;
}

#profile-menu-espaco {

    padding-top: 70px !important;
    padding-bottom: 70px !important;

}


#botao-imprimir {

    text-align: center !important;

}

#botao-imprimir a {

    font-size: 28px;

}

#cor {

    background: linear-gradient(45deg, rgba(255, 0, 0), rgba(0, 128, 0), rgba(255, 255, 0), rgba(0, 0, 255));

}

#cor h2 {

    font-size: 36px;

}

#corbtn {

    background: linear-gradient(45deg, rgba(255, 0, 0), rgba(0, 128, 0), rgba(255, 255, 0), rgba(0, 0, 255));
    font-size: 16px;
    color: white !important;

}

li {
    list-style-type: none;
}
